@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";

}
@{
    var topScoredLightNovels = ViewData["TopScoredLightNovels"] as List<LightNovel>;
    var airedLightNovels = ViewData["AiredLightNovels"] as List<LightNovel>;
    var rankedLightNovels = ViewData["RankedLightNovels"] as List<LightNovel>;
    var mostBoughtLightNovels = ViewData["MostBoughtLightNovels"] as List<LightNovel>;

}


<meta charset="UTF-8">
<meta name="description" content="Anime Template">
<meta name="keywords" content="Anime, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Anime | Template</title>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="~/css/plyr.css" type="text/css">
<link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">



<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<!-- Header End -->
<!-- Hero Section Begin -->
<body>
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">

                @if (topScoredLightNovels != null)
                {
                    @foreach (var novel in topScoredLightNovels)
                    {
                        <div class="hero__items set-bg" data-setbg="@Url.Content($"~/images/{novel.ImgUrl}")">
                            <p>@Url.Content($"~/images/{novel.ImgUrl}")</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="hero__text">
                                        <div class="label">@novel.Genre.Name</div>
                                        <h2>@novel.Title</h2>
                                        <p>@novel.Description</p>
                                        <a href="#"><span>Buy now for @novel.Cost🪙</span> <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Newest Show</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            @if (rankedLightNovels != null)
                            {
                                @foreach (var novel in rankedLightNovels)
                                {
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="@novel.ImgUrl">
                                                <div class="ep">@novel.Episodes Episodes</div>
                                                <div class="comment"><i class="fa"></i> @novel.Cost🪙</div>
                                                <div class="view"><i class="fa fa-eye"></i> @novel.Read</div>
                                            </div>
                                            <div class="product__item__text">
                                                <ul>
                                                    <li> Rank @novel.Ranked</li>
                                                    <li>@novel.Genre.Name</li>
                                                </ul>
                                                <h5><a href="@novel.Link">@novel.Title</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                    </div>



                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            @if (airedLightNovels != null)
                            {
                                @foreach (var novel in airedLightNovels)
                                {
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="~/images/@novel.ImgUrl">
                                                <div class="ep">@novel.Episodes Episodes</div>
                                                <div class="comment"><i class="fa"></i> @novel.Cost🪙</div>
                                                <div class="view"><i class="fa fa-eye"></i> @novel.Read</div>
                                            </div>
                                            <div class="product__item__text">
                                                <ul>
                                                    <li> Rank @novel.Ranked</li>
                                                    <li>@novel.Genre.Name</li>
                                                </ul>
                                                <h5><a href="@novel.Link">@novel.Title</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                            } 
                        </div>

                    </div>



                    <div class="most__bought__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Recently Added Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            @if (mostBoughtLightNovels != null)
                            {
                                @foreach (var novel in mostBoughtLightNovels)
                                {
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="~/images/@novel.ImgUrl">
                                                <div class="ep">@novel.Episodes Episodes</div>
                                                <div class="comment"><i class="fa"></i> @novel.Cost🪙</div>
                                                <div class="view"><i class="fa fa-eye"></i> @novel.Read</div>
                                            </div>
                                            <div class="product__item__text">
                                                <ul>
                                                    <li> Rank @novel.Ranked</li>
                                                    <li>@novel.Genre.Name</li>
                                                </ul>
                                                <h5><a href="@novel.Link">@novel.Title</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">

                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>You may like</h5>
                            </div>
                            <div class="filter__gallery">

                                @if (mostBoughtLightNovels != null)
                                {
                                    @foreach (var novel in mostBoughtLightNovels)
                                    {
                                        <div class="product__sidebar__view__item set-bg mix day years"
                                             data-setbg="@(!string.IsNullOrEmpty(novel.ImgUrl) ? Url.Content($"~/images/{novel.ImgUrl}") : Url.Content("~/images/errorimage.jpg"))">
                                            <div class="ep">@novel.Episodes Episodes</div>
                                            <div class="view"><i class="fa"></i> @novel.Cost🪙</div>
                                            <h5><a href="@novel.Link">@novel.Title</a></h5>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
</body>

<!-- Search model end -->
<!-- Js Plugins -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/player.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/mixitup.min.js"></script>
<script src="~/js/jquery.slicknav.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/lightNovelHub")
        .build();

    connection.start().catch(err => console.error("SignalR Connection Error: ", err));

    connection.on("ReceiveUpdate", (data) => {
        console.log("Received update:", data);
        location.reload(); // Reload page on update
    });

        // If Home Page elements exist, update dynamically
        if (document.getElementById("airedList") && document.getElementById("topScoredList")) {
            updateAiredList(airedLightNovels);
            updateTopScoredList(topScoredLightNovels);
        } else {
            location.reload(); // Otherwise, reload the page
        }
    });

    function updateAiredList(lightNovels) {
        let airedContainer = document.getElementById("airedList");
        if (!airedContainer) return;

        airedContainer.innerHTML = "";
        lightNovels.forEach(ln => {
            airedContainer.innerHTML += `<li>${ln.title} - ${ln.airedDate}</li>`;
        });
    }

    function updateTopScoredList(lightNovels) {
        let topScoredContainer = document.getElementById("topScoredList");
        if (!topScoredContainer) return;

        topScoredContainer.innerHTML = "";
        lightNovels.forEach(ln => {
            topScoredContainer.innerHTML += `<li>${ln.title} - Score: ${ln.score}</li>`;
        });
    }

</script>



